<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skaičiai tekste</title>
</head>
<body>
	Skaičių radimas tekste<br>
	<span class="error" th:utext="${msg_error}"></span>
	<p id="tekstas" th:utext="${txt_content}">
	</p>
	<form method="post" action="">
	Įveskite failo vardą<br>
	<input type="text" name="pav_failo"><br>
	Nuskaityti įvestą tekstą<br>	
	<textarea name="content">
	</textarea>
	<input type="submit" value="Imk">
	</form>
	<div name="skaityt_direktorija">
	<ul id="failai">
		<li th:each="failas : ${failu_dir}"><a th:href="@{/(srv_failas=${failas})}" th:text="${failas}"></a></li>
	</ul>
	<a th:href="@{/}" th:text="kitkas"></a>
	</div>
<body>
</html>